version: "3"

name: brain
services:
  app:
    restart: always
    env_file:
      - .env
    build: .
    volumes:
      - "./brain:/brain"
    ports:
      - "8080:8080"
    command: sh -c "python -m brain.main.entrypoints.setup_tasks && python -m brain.main.entrypoints.api"

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
#    volumes:
#      - brain-data:/var/lib/postgresql/data

  redis:
    image: redis:6
    ports:
      - "6379:6379"

  neo4j:
    image: neo4j:5
    environment:
      NEO4J_AUTH: "neo4j/neo4j"
    ports:
      - "7474:7474"
      - "7687:7687"
