version: "3"

name: brain
services:
  app:
    restart: always
    env_file:
      - .env
    build: .
    volumes:
      - "./brain:/brain"
    ports:
      - "8080:8080"
    command: sh -c "python -m brain.main.entrypoints.setup_tasks && python -m brain.main.entrypoints.api"

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
#    volumes:
#      - brain-data:/var/lib/postgresql/data

  redis:
    image: redis:6
    ports:
      - "6379:6379"

  neo4j:
    image: neo4j:5
    environment:
      NEO4J_AUTH: "neo4j/not_neo4j"
      NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
      NEO4J_dbms_usage__report_enabled: "false"
    ports:
      - "7687:7687"

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minioadmin}
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 ${MINIO_ROOT_USER:-minioadmin} ${MINIO_ROOT_PASSWORD:-minioadmin};
      /usr/bin/mc mb --ignore-existing myminio/${MINIO_BUCKET_NAME:-brain-bucket};
      /usr/bin/mc anonymous set public myminio/${MINIO_BUCKET_NAME:-brain-bucket};
      exit 0;
      "

volumes:
  minio_data:
