ENVIRONMENT=dev

API__WORKERS=1
API__INTERNAL_HOST=0.0.0.0
API__EXTERNAL_HOST=https://google.com
API__ALLOWED_ORIGINS=*
API__PORT=8080
API__AUTO_RELOAD=true

API__TG_WEBHOOK_PATH=/webhook

DB__HOST=postgres
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=postgres
DB__DATABASE=postgres

NEO4J__HOST=neo4j
NEO4J__PORT=7687
NEO4J__USER=neo4j
NEO4J__PASSWORD=neo4j
NEO4J__DATABASE=neo4j

BOT__TOKEN=xxxxxxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

S3__EXTERNAL_HOST=https://google.com
S3__ENDPOINT_URL=http://localhost:9001
S3__ACCESS_KEY_ID=minioadmin
S3__SECRET_ACCESS_KEY=minioadmin
S3__BUCKET_NAME=brain-bucket
S3__REGION_NAME=us-east-1
