aiogram>=3
aiogram_tests
pydantic
pytest-asyncio
fastapi==0.109.1
alembic
dishka==1.2.0
uvicorn==0.20.0
sqlalchemy>=2
adaptix==3.0.0b7
asyncpg
aiogram_dialog==2.1.0
redis
pyjwt
mypy
pytest-freezer==0.4.8