pytest~=8.3.2
pytest-freezegun~=0.4.2
PyJWT~=2.9.0
aiogram==3.10.0
aiogram-dialog==2.1.0
dishka==1.2.0
testcontainers~=4.7.2
alembic~=1.13.2
fastapi==0.115.4
python-dotenv~=1.0.1
uvicorn~=0.20.0
pydantic~=2.8.2
starlette~=0.41.0
SQLAlchemy~=2.0.31
adaptix~=3.0.0b7
redis==5.0.8
asyncpg==0.29.0
neo4j~=5.24.0
pytest-asyncio
python-multipart
boto3~=1.34.0
types-boto3[s3]
diff-match-patch
